body {
    /* background-color: #ddd;
    margin: 0;
    height: 100vh; */
}

.card-wrapper {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */
}
.card {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 4px;    
}